language: go
sudo: false

go:
  - "1.13.x"
  - "1.14.x"
  - "1.15.x"

script:
  - go test ./... -v -race -coverpkg=./... -coverprofile=coverage.out -covermode=atomic

after_success:
  - bash <(curl -s https://codecov.io/bash)